# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfplan

# IDE
.idea/
.vscode/

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# Build
node_modules/
dist/
.next/